.site {
  background-color: aqua;
  font-family: "Open Sans", sans-serif;
}
.siteh {
  font-family: "Open Sans", sans-serif;
  background-color: coral;
}
.resegr {
  background-color: aqua;
  font-family: "Roboto Condensed", sans-serif;
}
